* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("lizzy.jpg");
  background-repeat: no-repeat;
  background-position: 52%;
  min-height: calc(110vh - 12.8px);
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navigation {
  width: 90%;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.logo {
  font-size: 40px;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}

.logo a {
  text-decoration: none;
  color: white;
}

.navbar {
  font-size: 20px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  padding: 20px;
  color: white;
}

.nav-links {
  display: flex;
  list-style-type: none;
} /* Hide hamburger by default on big screen*/
.hamburger-wrapper {
  display: none;
  cursor: pointer;
}

/*  MAIN  */
main {
  transition: 0.7s ease;
}
.capacity {
  display: flex;
  margin: 150px 0px 0px 0px;
  padding-top: 20px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 0.5s ease;
}

.mini-container {
  width: 90%;
  display: flex;
}

.info {
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: all 0.1s;
  flex: 1;
}
.info h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
}

main .capacity .info h1 .diff {
  font-weight: bolder;
  font-size: 30px;
}
.info p {
  font-size: 20px;
  margin-top: 16px;
  line-height: 1.5;
  color: #fff;
}

main .capacity .info p .name {
  text-transform: uppercase;
  font-weight: bold;
}
button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 20px;
}
button a {
  text-decoration: none;
  color: teal;
}

/*--------Social */

.social-containers {
  flex: 1;
  position: relative;
}
.social {
  display: flex;
  flex-direction: column;
  right: 20px;
  position: absolute;
}

.social .social-link {
  margin-bottom: 16px;
  color: white;
  width: 30px;
  border-radius: 50%;
  padding: 20px;
  font-size: 24px;
}

/*   Animation */
.social-link {
  animation: Oyinlade 10s infinite;
  padding: 16px;
  border-radius: 50%;
}

button {
  animation: Oyinlade 10s infinite;
  color: white;
}

@keyframes Oyinlade {
  0% {
    background-color: red;
  }
  20% {
    background-color: rgb(0, 255, 34);
  }
  50% {
    background-color: rgb(150, 2, 150);
  }
  70% {
    background-color: rgb(95, 102, 4);
  }
  100% {
    background-color: rgb(0, 255, 106);
  }
}

.Bottom-container {
  background-color: rgb(125, 128, 128);
  padding: 10px 0 10px;
  text-align: center;
}

.Bottom-container p {
  color: #eaf6f6;
  text-decoration: none;
}

#footer {
  color: #eaf6f6;
  font-size: 16px;
  padding: 20px 0;
}

/* Media Query */

@media screen and (max-width: 768px) {
  .nav-items {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
    margin: 20px 0px;
  }

  .social {
    flex-direction: row;
    position: static;
    justify-content: space-between;
  }

  .nav-links > li {
    margin: 10px 0px;
  }

  .navigation {
    display: block;
  }

  .hamburger-wrapper {
    display: block;
    color: rgb(209, 209, 209);
  }

  .logo {
    display: flex;
    justify-content: space-between;
  }
  .mini-container {
    flex-direction: column;
    gap: 40px;
  }
}
